.form, .sign-in-form {
    width: 400px;
    padding: 20px 30px;
    gap: 10px;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: 1px solid var(--border-color);
    overflow: hidden;
}
  
.header {
    font-size: 2rem;
    font-weight: 1000;
    text-align: center;
}
  
.field {
    gap: 5px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.show-pass-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    background: transparent;
    color: var(--text-color);
    transform: translateY(-50%);
}
  
.sign-up-btn, .sign-in-btn {
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    color: white;
    background: var(--main-color);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    transition: background 0.3s;
}

.forgot-password-link, .sign-in-form-link, .sign-up-form-link {
    font-size: 13px;
    margin: 3px auto;
}

.forgot-password-link:hover, .sign-in-form-link:hover, .sign-up-form-link:hover {
    text-decoration: underline;
}

.sign-in-form-link, .sign-up-form-link {
    margin: 9px auto 0;
    font-weight: 600;
    font-size: 14px;
}

.alternative-option-message {
    font-size: 16px;
    margin: 2px auto;
    color: var(--text-color);
}