.app-sidebar-link, .app-sidebar-link-active {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.app-sidebar-link-active {
    background: var(--shadow-color);
}